.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.cemter {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
