.full-width {
  width: 100%;
}

mat-card {
  width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-card-content, mat-card-actions {
  margin: 10px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.action-buttons {
  margin: 10px;
}
